<div class="cities-list">
  <% cities.each do |city| %>
    <p style="color: <%= city.color %>; position: absolute; top: <%=city.y  %>%; left: <%= city.x %>%">-<%= city.name %></p>
<!--     <% city.adjCities.each do |adjCity| %>
      <p style="color: black"><%= adjCity %></p>
    <% end %> -->
  <% end %>
</div>